.front-page-image-box{
    width: 100%;
    display: flex;
    justify-content: center;

    position: static;
    margin-bottom: 60px;
}
.front-page-image{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.kids-image{
    width:350px;
    height: 280px;
}
.teachers-image{
    width: 350px;
    height: 280px;
}
.researchers-image{
    width: 350px;
    height: 280px;
}
.discover-box{
    background-color: rgb(41, 40, 35);
    color: white;
    max-width: 350px;
    height: 450px;

    display: grid;
    justify-content: center;
    align-items: center;

    padding-bottom: 10px;

}
.discover-box:hover{
    background-color: rgb(83, 81, 72);
    cursor: pointer;
}
.h1-on-image{
    position: absolute;
    top: 150px;
}
.text-under-moon{
    position: absolute;
    top: auto;
    margin-top: 100px;
    color: white;

    font-weight: lighter;
}
.buttons-under-text{
    margin-top: 500px;
    position: absolute;
    top: auto;
}
.home-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-left: 10px;
    margin-right: 10px;

    font-weight: 300;
    font-size: large;
    font-weight: 500;

    border: none;
    border-radius: 15px;

    color: black;
    background-color: rgb(191, 148, 86);
}
.home-button-text{
    text-decoration: none;
    color: black;
}
.discover-grid-box{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(400px,400px));
    justify-content: center;
    align-items: center;
    align-self: center;
    row-gap: 40px;
    column-gap: 40px;
    margin-top: 30px;
    margin-bottom: 60px;
}
.headline-text-box{
    display: flex;
    justify-content: center;
}
.exhibition-image-1{
    width: 270px;
    height: 250px;
}
.exhibition-image-2{
    width: 270px;
    height: 250px;
}
.exhibition-image-3{
    width: 250px;
    height: 300px;
}
h1{
    color: white;
    font-size: 28px;
    font-weight: 300;
}
h2{
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.exhibition-spaces-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(600px,200px));
    justify-content: space-between;
    justify-content: center;
    row-gap: 40px;
    column-gap: 40px;
}
.exhibition-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(41, 40, 35);

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
@media (max-width:700px){
    .exhibition-box{
        grid-template-columns: 1fr;
        max-width: 300px;
        justify-content: center;
        align-items: center;
    }
    .image-box{
        display: flex;
        justify-content: center;
    }
    .exhibition-spaces-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .discover-box{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .discover-grid-box{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:1200px){
    .discover-grid-box{
        display: flex;
        flex-direction: column;
    }
}
.browse-more-button{
    color: black;
    background-color: rgb(191, 148, 86);
    border: none;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 700;
}
.browse-more-button-text{
    text-decoration: none;
}
.home-button:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.browse-more-button:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.browse-button-box{
    display: flex;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 40px;
}
.exhibition-title{
    color: rgb(166, 150, 13);
    font-size: large;
}
.exhibition-title-2{
    color: rgb(128, 196, 211);
}
.exhibition-description{
    color: rgb(197, 174, 174);
    font-weight: 200;
    display: flex;
}
.text-box{
    display: flex;
    flex-direction: column;
}
.discover-image-box{
    display: flex;
    justify-content: center;
}
.discover-description-box{
    padding-left: 25px;
    padding-right: 25px;
    font-size: small;

    font-weight: 300;
}
.discover-description{
    margin: 0;
}
.headline-text{
    font-size: 18px;
}
.research-description{
    padding: 0;
}
.h2-box{
    margin-top: 50px;
}