.visit-image{
    width: 500px;
    height: 150px;
    
    padding-top: 25px;
}
h1{
    color: rgb(7, 206, 170);
    font-weight: 300;
}
.visit-grid{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    column-gap: 100px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
}
p{
    color: white;
}
@media (max-width:1050px){
    .visit-grid{
        display: grid;
        grid-template-rows: 1fr;
        row-gap: 20px;
    }
}
@media (max-width:700px){
    .visit-grid{
        padding-left: 10px;
        padding-right: 10px;
    }
    .visit-image{
        width: 300px;
    }
}
.button{
    background-color: rgb(191, 148, 86);
    border: none;
    border-radius: 15px;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    
    font-size: large;

    margin-right: 25px;
}
.button-text{
    text-decoration: none;
    color: black;
}
.buttons-grid{
    margin-top: 30px;
    display: flex;
}
.button:hover{
    background-color: white;
    cursor: pointer;
}
.info-headline{
    color: rgb(7, 206, 170);
    font-weight: 500;
    font-size: medium;
}
p{
    font-weight: 300;
}